@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.bgimg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
}

.options-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
